.container-row-wrap {
    flex-direction: row;

    flex-wrap: wrap;
}

.container-row-nowrap {
    flex-direction: row;

    flex-wrap: nowrap;
}

.container-column {
    flex-direction: column;
}

.label-header {
    -unity-font-style: bold;
}

.core-button {
    align-items: flex-start;

    justify-content: center;
}